@tailwind base;

@tailwind components;

@tailwind utilities;

@import '../../node_modules/chess-merida-font/css/chessmerida-webfont.css';

/*
 *
 * Developer-defined styles
 *
 */
 .grid {
     display: grid;
 }
.grid--wrapper {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(8, minmax(2rem, 6rem));
    grid-template-rows: minmax(2rem, 6rem);
    grid-auto-flow: column;
}
.game--tile {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #DDD;
    color: #222;
}
.game--tile-2 {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #222;
    color: #DDD;
}